<div ng-controller="MainController as mainCtrl" class="main-container" id="main">
    <uib-tabset active="mainCtrl.tab" justified="true">
        <uib-tab index="0" heading="Proyecto">
            <div ng-include="'main/proyecto.html'">
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Tareas">
            <div ng-include="'main/actividades.html'">
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Participación">
            <div ng-include="'main/participaciones.html'">
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Adquisición">
            <div ng-include="'main/adquisiciones.html'">
            </div>
        </uib-tab>
    </uib-tabset>

    <div class="container">

        <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.siguiente();">
                    Siguiente
                </button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.save();">
                    Guardar
                </button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="mainCtrl.exportar();">
                    Exportar
                </button>
            </div>
        </div>
    </div>

    <!--{{mainCtrl.proyecto}}-->


    <div id="tablas_export">
        <div ng-include="'main/xls_cronograma_tpl.html'"></div>
        <div class="container">

            <h2 ng-click="mainCtrl.tareas_colapsadas = !mainCtrl.tareas_colapsadas">Cronograma</h2>
            <div ng-include="'main/xls_tareas_tpl.html'" uib-collapse="mainCtrl.tareas_colapsadas"></div>
        </div>
        <div class="container">
            <h2 ng-click="mainCtrl.participacones_colapsadas = !mainCtrl.participacones_colapsadas">% Participación</h2>
            <div ng-include="'main/xls_participaciones_tpl.html'" uib-collapse="mainCtrl.participacones_colapsadas"></div>
        </div>
        <div class="container">
            <h2 ng-click="mainCtrl.costosrrhh_colapsadas = !mainCtrl.costosrrhh_colapsadas">Costos RRHH</h2>
            <div ng-include="'main/xls_costosrrhh_tpl.html'" uib-collapse="mainCtrl.costosrrhh_colapsadas"></div>
        </div>
        <div class="container">
            <h2 ng-click="mainCtrl.adquisiciones_colapsadas = !mainCtrl.adquisiciones_colapsadas">Adquisiciones</h2>
            <div ng-include="'main/xls_adquisiciones_tpl.html'" uib-collapse="mainCtrl.adquisiciones_colapsadas"></div>
        </div>
        <div class="container">
            <h2 ng-click="mainCtrl.detallado_colapsadas = !mainCtrl.detallado_colapsadas">Presupuesto Detallado</h2>
            <div ng-include="'main/xls_detallado_tpl.html'" uib-collapse="mainCtrl.detallado_colapsadas"></div>
        </div>
    </div>


</div>
