<div class="row">
    <div class="col-sm-3">
        <input type="text" placeholder="Nombre y Apellido" class="form-control" ng-model="participacion.nombre">
    </div>
    <div class="col-sm-2">
        <input type="text" placeholder="CUIT" class="form-control" ng-model="participacion.cuit">
    </div>
    <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="Descripción" ng-model="participacion.descripcion">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Sueldo" ng-model="participacion.sueldo">
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <!--<button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>-->
        <!--Agregar Tarea <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">-->
        <!--<li role="menuitem" ng-click="mainCtrl.agregarAsignacion(key, participacion)"-->
        <!--ng-repeat="(key,tarea) in mainCtrl.proyecto.index_tareas"><a href="">{{tarea}}</a></li>-->
        <!--</ul>-->
        <ac-autocomplete
                fields-to-show="'descripcion'"
                selected-to="mainCtrl.tarea"
                search-fields="'descripcion'"
                search-function="mainCtrl.searchTareas(callback)"
                id="searchTarea"
                type="text"
                class="form-control"
                placeholder="Buscar Tareas"></ac-autocomplete>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary"
                ng-click="mainCtrl.agregarAsignacion(mainCtrl.tarea.id, participacion)">
        Agregar Tarea
        </button>
    </div>
</div>
<div class="row" style="max-width: 100%; overflow-x: auto;" ng-repeat="(key, tarea) in participacion.tareas">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <div class="col-lg-3"><label>{{tarea.descripcion}}</label></div>
        <div class="col-lg-1">
            <button ng-click="mainCtrl.quitarAsignacion(participacion.tareas, key)" type="button"
                    class="btn btn-primary">-
            </button>
        </div>
        <div style="width: 45px; margin: 2px;" ng-repeat="(key, porc) in tarea.porcs">
            <input type="text" class="form-control" placeholder="%" ng-readonly="porc== -1"
                   ng-style="porc == -1 && {'color':'rgba(0,0,0,0)'}" ng-model="tarea.porcs[key]">
        </div>
    </div>
</div>

<!--<div class="row col-sm-11 ">-->
<!--<div class="col-sm-2" ng-repeat="(key,tarea) in mainCtrl.proyecto.index_tareas">-->
<!--<label>{{tarea}}-->
<!--<input placeholder="%" class="checkbox" ng-model="participacion.tareas[key]" type="checkbox">-->
<!--</label>-->
<!--</div>-->
<!--</div>-->