<h4>Recursos Propios</h4>
<table class="table table-striped" border="1">
    <thead style="width: 100%;">
    <tr style="border-bottom: 1px;">
        <th>Descripción</th>
        <th ng-repeat="mes in mainCtrl.proyecto.duracion | duracion">{{$index + 1}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="participacion in mainCtrl.proyecto.participaciones['A1']" style="width: 100%;">
    <tr>
        <td>{{participacion.nombre}}</td>
        <td ng-repeat="tarea in  participacion.tareas | filterParticipacion">{{
            (tarea == 0)?0:
            ((participacion.sueldo * tarea)/100)
            }}
        </td>
    </tr>
    </tbody>
</table>

<h4>Recursos Contratados</h4>
<table class="table table-striped" border="1">
    <thead style="width: 100%;">
    <tr style="border-bottom: 1px;">
        <th>Descripción</th>
        <th ng-repeat="mes in mainCtrl.proyecto.duracion | duracion">{{$index + 1}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="participacion in mainCtrl.proyecto.participaciones['A2']" style="width: 100%;">
    <tr>
        <td>{{participacion.nombre}}</td>
        <td ng-repeat="tarea in  participacion.tareas | filterParticipacion">{{ (tarea == 0)?0:
            ((((participacion.tareas |
            filterPromedioMesesParticipacion)*participacion.sueldo)/100)*(participacion.tareas |
            filterPromedioParticipacion)/(participacion.tareas | filterPromedioParticipacion)) }}
        </td>
    </tr>
    </tbody>
</table>

<h4>Consultorías y Servicios</h4>
<table class="table table-striped" border="1">
    <thead style="width: 100%;">
    <tr style="border-bottom: 1px;">
        <th>Descripción</th>
        <th ng-repeat="mes in mainCtrl.proyecto.duracion | duracion">{{$index + 1}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="participacion in mainCtrl.proyecto.participaciones['A3']" style="width: 100%;">
    <tr>
        <td>{{participacion.nombre}}</td>
        <td ng-repeat="tarea in  participacion.tareas | filterParticipacion">{{ (tarea == 0)?0:
            ((((participacion.tareas |
            filterPromedioMesesParticipacion)*participacion.sueldo)/100)*(participacion.tareas |
            filterPromedioParticipacion)/(participacion.tareas | filterPromedioParticipacion)) }}
        </td>
    </tr>
    </tbody>
</table>