<h4>Recursos Propios</h4>
<table class="table table-striped" border="1">
    <thead style="width: 100%;">
    <tr>
        <th colspan="5"></th>
        <th colspan="2">Fontar</th>
        <th colspan="2">Propio</th>
    </tr>
    <tr style="border-bottom: 1px;">
        <th>Descripción</th>
        <th>Presup.</th>
        <th>Cantidad</th>
        <th>$ Unitario</th>
        <th>$ Total</th>
        <th>%</th>
        <th>Importe</th>
        <th>%</th>
        <th>Importe</th>
        <th>Mes</th>
    </tr>
    </thead>
    <tbody ng-repeat="row in mainCtrl.proyecto.gastos['A1']" style="width: 100%;">
    <tr>
        <td >{{row.descripcion}}</td>
        <td ></td>
        <td >{{row.cantidad}}</td>
        <td >{{row.precio}}</td>
        <td >{{row.precio * row.cantidad}}</td>
        <td >100%</td>
        <td >{{row.precio * row.cantidad}}</td>
        <td >0%</td>
        <td >0</td>

    </tr>
    </tbody>
    <tr>
        <td>Otros</td>
    </tr>
    <tbody ng-repeat="row in mainCtrl.proyecto.gastos['A2']" style="width: 100%;">
    <tr>
        <td >{{row.descripcion}}</td>
        <td ></td>
        <td >{{row.cantidad}}</td>
        <td >{{row.precio}}</td>
        <td >{{row.precio * row.cantidad}}</td>
        <td >0%</td>
        <td >0</td>
        <td >100%</td>
        <td >{{row.precio * row.cantidad}}</td>

    </tr>
    </tbody>

</table>